{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIG Facatativá - Cundinamarca</title>

    <link 
    rel="stylesheet" 
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" 
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" 
    crossorigin="anonymous" />
    
    <link rel="stylesheet" href="{% static 'visor_grafico/css/estilos.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"> </script>
</head>
<body >
    <div id="header" class="hidden md:flex p-7 h-14 items-center w-full flex-row justify-between bg-blue-500 text-white shadow-md">
        <h2 style="margin: 0; font-size: 1.2rem;">Sistema de Información Geográfica - Facatativá (Cundinamarca)</h2>
        <div class="flex gap-4">
            <a href="#" class="hover:underline">Filtros</a>
            <a href="#" class="hover:underline">Consultas espaciales</a>
            <a href="#" class="hover:underline">Leyenda</a>
            <a href="#" class="hover:underline">Capas activas</a>
            <a href="#" class="hover:underline">Herramients de dibujo y medicion</a>
            <a href="#" class="hover:underline">perfil</a>
        </div>
    </div>

    <!-- contenedor del cuerpo -->
    <div class="flex flex-row w-full h-[calc(100vh-56px) overflow-hidden min-h-screen">

        <aside id="sidebar" class="flex w-80 h-300 bg-blue-300 p-6 flex-col shadow-inner transition-all duration-300"> 
            <h3 class="font-bold text-lg text-blue-900 bg-blue-500/50">Panel de Capas</h3>
            <div class="flex flex-col gap-3">
                <label class="flex items-center gap-3 text-blue-900 font-medium cursor-pointer">
                    <input type="checkbox" id="chk-municipio" checked class="w-4 h-4 accent-emerald-600">
                    <span>Límite Municipal</span>
                </label>
                <label class="flex items-center gap-3 text-blue-900 font-medium cursor-pointer">
                    <input type="checkbox" id="chk-veredas" checked class="w-4 h-4 accent-emerald-600">
                    <span>Limite Veredal</span>
                </label>
                <label class="flex items-center gap-3 text-blue-900 font-medium cursor-pointer">
                    <input type="checkbox" id="chk-vias" checked class="w-4 h-4 accent-emerald-600">
                    <span>Red Vial</span>
                </label>
            </div>

            <div class="flex flex-col gap-3 p-1">
                <h3 class="font-bold text-lg text-blue-900 bg-blue-500/50">Panel Vias</h3>
                <label for="vias-slct" class="flex items-center gap-3 text-blue-900 font-medium cursor-pointer">Vias</label>
                <select name="vi" id="vias-slct">
                    <option value="" selected disabled hidden>Selecciona el tipo de via...</option>
                    <option value="motorway">autopista</option>
                    <option value="trunk">carreteras importantes</option>
                    <option value="primary">carreteras primarias</option>
                    <option value="secondary">carreteras secundarias</option>
                    <option value="tertiary">carreteras terciarias</option>
                    <option value="unclassified">carreteras locales</option>
                    <option value="residential">calles residenciales</option>
                </select>
            </div>


            <div class="flex flex-col gap-3 p-1">
                <h3 class="font-bold w-full text-lg text-blue-900 bg-blue-500/50">Panel Municipios</h3>
                <label for="municipios-slct" class="flex items-center gap-3 text-blue-900 font-medium cursor-pointer">
                    Municipios
                </label>
                <select name="" id="municipios-slct" >
                    <option value=""> Selecciona un municipio </option>
                    {% for municipio in municipios %}
                        <option value="{{municipio.mpio_cdpmp}}">
                            {{municipio.mpio_cnmbr}}
                        </option>
                    {% empty %}
                        <option value="">No hay municipios registrados</option>
                    {% endfor %}
                </select>
            </div>


            <div class="flex flex-col gap-3 p-1">
                <h3 class="font-bold w-full text-lg text-blue-900 bg-blue-500/50">Panel Veredas</h3>
                <label for="veredas-slct" class="flex items-center gap-3 text-blue-900 font-medium cursor-pointer">
                    Veredas
                </label>
                <select name="" id="veredas-slct" >
                    <option value=""> Selecciona una vereda </option>
                    {% for vereda in veredas %}
                        <option value="{{vereda.codigo_ver}}">
                            {{vereda.nombre_ver}}
                        </option>
                    {% empty %}
                        <option value="">No hay veredas registradas</option>
                    {% endfor %}
                </select>
            </div>
        </aside>

        <main class="flex-1 min-h-screen bg-gray-100"> 
            <div id="map" class="flex w-full h-full ">
            </div>
        </main>

    </div> 

    <!--variables dinamicas para acceder desde map.js-->
    <script>
        const urlViasGeoJSON = "{% url 'vias_geojson' %}"
        const urlFacatativaGeoJSON = "{% url 'facatativa_geojson' %}"
        const urlMunicipioGeoJSON ="{% url 'facatativa_geojson' %}"
        const urlVeredasGeoJSON ="{% url 'veredas_geojson' %}"
    </script>

    <script 
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
    crossorigin="anonymous"></script>

    <!--<script src="{% static 'visor_grafico/js/map.js'%}"></script>-->
    <script type="module" src="{% static 'visor_grafico/js/main.js' %}"></script>


</body>
</html>